* {
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    background-color: rgb(43, 45, 50);
    height: 4em;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0.5em;
    font-size: 1.1em;
}

#blog {
    font-size: 2em;
}

.left-bar {
    flex: 1;
}

.right-bar a {
    justify-content: right;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}