* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    background-color: rgb(43, 45, 50);
    height: 4em;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0.5em;
    font-size: 1.1em;
}

#blog {
    font-size: 2em;
}

.left-bar {
    flex: 1;
}

.right-bar a {
    justify-content: right;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.post {
    height: 20em;
    width: 50%;
    margin: 0 auto;
    font-family: 'Lora', sans-serif;
    line-height: 1.5em;
    border-bottom: 1px solid rgb(210, 210, 210);
    padding-top: 40px;
    padding-bottom: 40px;
    overflow: hidden;
}

.post img {
    width: 35%;
    float: left;
    margin-right: 1em;
    min-width: 20em;
}

.post h1 {
    margin-bottom: 1em;
    line-height: 1em;
}

.post-main {
    margin-left: 1em;
}

.post-info {
    margin-top: 1em;
    color: rgb(160, 160, 160);
}