* {
    /* first three rules override browser defaults */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* stops long words from overflowing */
    overflow-wrap: break-word;
    font-family: 'Lora', sans-serif;
    /* remove dotted outline around links */
    outline: none;
    color: rgb(43, 45, 50);
}

.container {
    /* set to relative to position footer absolutely to it*/
    position: relative;
    /* pins footer to the bottom if not enough content on the page */
    min-height: 100vh;
}

.content {
    width: 768px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
}

.main {
    /* 6rem is reserved for footer overlapping (footer height) */
    padding-bottom: 6rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 6rem;
    width: 100%;
    /* pins footer to the bottom of container */
    bottom: 0;
    color: white;
    background-color: rgb(43, 45, 50);
    font-size: 1.1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    word-break: break-all;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(43, 45, 50);
    padding-left: 1rem;
    padding-right: 1rem;
}

.left-bar {
    /* display is set to flex to align items inside element */
    display: flex;
    justify-content: start;
    align-items: center;
}

.right-bar {
    /* display is set to flex to align items inside element */
    display: flex;
    justify-content: end;
    width: 80%;
    align-items: center;
}

/* burger by default not visible */
.burger {
    display: none;
}

/* make 3 horizontal white bars (burger) */
.burger div {
    width: 2rem;
    height: 3px;
    margin: 5px;
    background-color: #c8c8c8;
    transition: all 0.3s;
}

#logo {
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

#feed {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

nav ul {
    list-style-type: none;
}

nav li {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
}

nav a {
    color: #c8c8c8;
    text-decoration: none;
    font-size: 1.1rem;
}

nav a:hover {
    color: white;
}

nav button {
    color: white;
    background-color: rgb(154, 88, 181);
    border: none;
    border-radius: 2px;
    font-family: inherit;
    font-size: 1.1rem;
    padding: 0.4rem 1.6rem;
    cursor: pointer;
    /* gradually change button color on hover */
    transition: background-color 0.3s;
}

nav button:hover {
    background-color: rgb(116, 67, 137);
}

#search-form {
    display: inline;
}

#search-field {
    display: inline;
    width: auto;
    margin: 0;
}

#search-button {
    padding: 0.5rem;
}

/* align profile picture with username */
.nav-profile {
    display: flex;
    align-items: center;
    max-width: 12rem;
    overflow: hidden;
}

.nav-avatar {
    max-width: 2.5rem;
    max-height: 2.5rem;
    margin-top: 0.4rem;
}

.nav-username {
    margin-left: 0.4rem;
}

.post-list {
    display: flex;
    min-height: 20rem;
    line-height: 1.5rem;
    border-bottom: 1px solid rgb(210, 210, 210);
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.post-list-left {
    width: 40%;
    margin-right: 1rem;
}

.post-list-left img {
    vertical-align: top;
    width: 100%;
}

.post-list-right {
    width: 60%;
}

/* post information (author, date etc.) */
.post-list-info {
    margin-top: 1rem;
}

.post-list-info div {
    margin-bottom: 0.5rem;
    color: rgb(160, 160, 160);
}

.post-list h1, .post-detail h1 {
    margin-bottom: 1rem;
    line-height: 2.5rem;
}

/* post title link */
.post-list-main a {
    color: black;
    text-decoration: none;
}

.post-list-main a:hover {
    text-decoration: underline;
}

.gray-link {
    color: rgb(160, 160, 160);
    text-decoration: none;
}

.gray-link:hover {
    color: rgb(43, 45, 50);
}

/* if no post text */
.no-posts {
    text-align: center;
    margin-top: 1.5rem;
}

.post-detail {
    margin: 0 auto;
    font-size: 1.2rem;
    font-family: 'Lora', sans-serif;
    line-height: 1.8rem;
    border-bottom: 1px solid rgb(210, 210, 210);
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.post-detail-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px solid rgb(210, 210, 210);
    border-bottom: 1px solid rgb(210, 210, 210);
}

.post-detail-info-left {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1rem;
    list-style: none;
    overflow: hidden;
}

.post-detail-info-left li {
    margin-right: 0.3rem;
    color: rgb(160, 160, 160);
}

.post-detail-info-right {

}

.post-detail-img {
    width: 100%;
    min-width: 20rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.form {
    font-size: 1.2rem;
    margin: 1rem auto;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 3px;
    box-shadow: 2px 2px 8px rgb(190, 190, 190);
    padding: 1rem;
}

.form h2 {
    border-bottom: 1px solid rgb(210, 210, 210);
    margin-bottom: 2.5rem;

}

label {
    display: block;
    margin-top: 1.5rem;
    clear: right;
}

input[type=text],
input[type=password],
input[type=email],
textarea {
    display: block;
    height: 2.3rem;
    width: 100%;
    padding: 0.7rem;
    margin-top: 0.5rem;
    font-family: inherit;
    font-size: 1.1rem;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 3px;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus {
    border: 1px solid rgb(26, 202, 237);
    box-shadow: 0 0 8px rgb(26, 202, 237);
}

/* remove default red error border */
textarea:invalid {
    border: 1px solid rgb(190, 190, 190);
    box-shadow: none;
}

/* make current errors red */
.errorlist li {
    color: red;
}

textarea {
    /* textarea size only changes vertically */
    resize: vertical;
    height: 20rem;
}

/* regular (big) button */
.btn {
    display: inline-block;
    margin-top: 2rem;
    margin-right: 0.5rem;
    font-family: inherit;
    font-size: 1.2rem;
    background-color: white;
    border-radius: 3px;
    padding: 10px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    color: white;
    border: none;
    padding: 11px 17px;
}

.btn-blue {
    color: rgb(20, 162, 181);
    border: 1px solid rgb(20, 162, 181);
}

.btn-blue:hover {
    background-color: rgb(20, 162, 181);
}

.btn-gray {
    color: rgb(108, 117, 125);
    border: 1px solid rgb(108, 117, 125);
}

.btn-gray:hover {
    background-color: rgb(108, 117, 125);
}

.form a {
    font-size: 1rem;
    color: rgb(0, 123, 255);
    text-decoration: none;
}

.form-footer {
    color: rgb(130, 130, 130);
    font-size: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
    padding-top: 1.5rem;
    border-top: 1px solid rgb(210, 210, 210);
}

.helptext, form li {
    color: rgb(130, 130, 130);
    font-size: 1rem;
}

form ul {
    margin-left: 2rem;
}

.profile {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 1rem;
    border: 1px solid rgb(210, 210, 210);
    box-shadow: 0 0 4px rgb(210, 210, 210);
    font-size: 1.1rem;
    padding: 0.8rem;
    word-break: break-all;
}

.profile-top {
    border-bottom: 1px solid rgb(210, 210, 210);
    margin-bottom: 1rem;
    padding-bottom: 0.3rem;
}

.profile h2 {
    display: inline-block;
}

.profile img {
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
}

/* profile edit button */
.profile-btn {
    width: 100%;
    color: white;
    background-color: rgb(0, 130, 240);
    border: none;
    border-radius: 2px;
    font-family: inherit;
    font-size: 1.1rem;
    padding: 0.5rem 1.6rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.profile-btn:hover {
    background-color: rgb(0, 100, 200);
}

.profile-btn-follow {
    float: right;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.profile p {
    margin-top: 0.5rem;
}

/* profile edit and delete buttons */
.profile-change-del {
    float: right;
}

/* profile user's posts, saved_posts, following and followers links */
.profile-bar {
    display: flex;
    justify-content: space-around;
    margin: 1.2rem auto;
    border: 1px solid rgb(210, 210, 210);
    box-shadow: 0 0 4px rgb(210, 210, 210);
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

/* individual profile links */
.profile-bar div {
    flex: 1;
    text-align: center;
    padding: 0.7rem;
    transition: background-color 0.3s;
    word-break: break-all;
}

.profile-bar div:hover {
    background-color: rgb(240, 240, 240)
}

.profile-bar a {
    color: rgb(80, 80, 90);
    text-decoration: none;
}

/* header showing what link was selected */
.profile-header {
    color: rgb(80, 80, 90);
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    text-align: center;
    text-transform: uppercase;
    border-top: 1px solid rgb(210, 210, 210);
    border-bottom: 1px solid rgb(210, 210, 210);
    margin: 3rem auto 1rem auto;
    padding: 0.8rem;
}

/* following and followers grid of user profiles */
.profile-follow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: start;
    grid-gap: 2rem;
    margin: 3rem auto;
    height: 100%;
    word-break: break-all;
}

/* profile card */
.card {
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    border-radius: 3px 3px 0 0;
}

.card-info {
    padding: 1.5rem 0.5rem;
    text-align: center;
}

.card-info a {
    display: block;
    font-size: 1.1rem;
    text-decoration: none;
}

.card-info a:hover {
    text-decoration: underline;
}

.card-btn-follow {
    margin-top: 1rem;
}

/* small button */
.btn-small {
    display: inline-block;
    margin-right: 0.3rem;
    font-family: inherit;
    font-size: 1rem;
    background-color: white;
    border-radius: 3px;
    padding: 5px 9px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-small:hover {
    color: white;
    border: none;
    padding: 6px 10px;
}

.btn-red {
    color: rgb(255, 60, 60);
    border: 1px solid rgb(255, 60, 60);
}

.btn-red:hover {
    background-color: rgb(255, 60, 60);
}

/* modal background */
#modal {
    /* hidden by default */
    display: none;
    /* stay in place */
    position: fixed;
    /* sit on top */
    z-index: 1;
    /* location of the box */
    padding-top: 6rem;
    width: 100%;
    height: 100%;
    /* enable scroll if needed */
    overflow: auto;
    /* overflow-wrap: break-word; */
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-body {
    /* align child div */
    text-align: center;
    /* overflow-wrap: break-word; */
    position: relative;
    background-color: white;
    margin: auto;
    width: 35%;
    font-size: 1.6rem;
    padding: 1rem;
    border: 1px solid #888;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: moving-window;
    animation-duration: 0.5s;
}

.modal-content {
    /* align inside parent div */
    display: inline-block;
}

.modal-content p {
    margin-bottom: 0.5rem;
}

/* slide down modal */
@keyframes moving-window {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.comments-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: rgb(160, 160, 160);
    font-size: 1.1rem;
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px solid rgb(210, 210, 210);
    border-bottom: 1px solid rgb(210, 210, 210);
}

.comments-info p {
    display: inline-block;
    /* prevent long usernames from breaking layout */
    word-break: break-all;
    color: rgb(160, 160, 160);
}

.comments {
    margin-top: 2rem;
}

.comments p:first-child {
    text-align: center;
}

.comments textarea {
    height: 8rem;
    margin-bottom: 0.5rem;
}

.comments input[type=submit] {
    float: right;
}

.comment-block {
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-top: 1px solid rgb(210, 210, 210);
    border-bottom: 1px solid rgb(210, 210, 210);
}

.comment {
    display: flex;
    flex-wrap: wrap;
    padding: 0.8rem;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    border-radius: 2px;
    border: 1px solid rgb(210, 210, 210);
    border-left: 2px solid rgb(170, 170, 170);
    /* prevent long usernames from breaking layout */
    word-break: break-all;
}

.comment p {
    font-size: 1.05rem;
    margin-bottom: 0.8rem;
}

.replies {
    margin-top: 1.5rem;
    clear: right;
}

.comment-reply {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

.no-comments {
    text-align: center;
}

.comment-edit-form, .reply-form {
    display: none;
    margin-bottom: 4rem;
}

.comment-edit-form textarea {
    margin-top: 0;
}

.reply-form textarea {
    margin-top: 2rem;
}

.comment-delete-confirmation {
    display: none;
}

.comment-delete-confirmation form {
    display: inline;
}

.comment-delete-confirmation span {
    color: red;
}

.comment-above {
    font-size: 1rem;
    color: rgb(160, 160, 160);
    line-height: 1rem;
    margin-bottom: 0.8rem;
}

.comment-below a {
    font-size: 1.1rem;
    color: rgb(130, 130, 150);
    text-decoration: none;
}

.comment-below a:hover {
    color: rgb(43, 45, 50);
    text-decoration: underline;
}

.comment-rest {
    flex: 8;
}

.reply-btn {
    float: right;
}

.btn-like {
    display: inline-block;
    margin-left: 0.5rem;
    font-family: inherit;
    font-size: 1rem;
    color: white;
    background-color: rgb(19, 151, 255);
    border: none;
    border-radius: 3px;
    padding: 3px 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-like:hover {
    background-color: rgb(19, 125, 219);
}

.save {
    margin-left: 0.5rem;
    font-size: 1.1rem;
}

.edit-buttons {
    float: right;
}

.reply-btn {
    background-color: rgb(110, 110, 120);
    margin-bottom: 1.5rem;
}

.reply-btn:hover {
    background-color: rgb(90, 90, 100);
}

.pagination {
    /*border: solid black 1px;*/
    width: 100%;
    margin: 5rem auto;
    text-align: center;
}

.pagination a {
    margin: 0;
    padding: 0;
}

.btn-page {
    display: inline-block;
    font-family: inherit;
    font-size: 1.1rem;
    color: white;
    background-color: rgb(0, 130, 255);
    border: 1px solid rgb(0, 130, 255);
    border-radius: 2px;
    padding: 6px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-page:hover {
    background-color: rgb(0, 110, 255);
}

.btn-current {
    color: rgb(0, 130, 255);
    background-color: white;
}

.btn-current:hover {
    background-color: rgb(240, 240, 240);
}

.avatar {
    flex: 1;
    margin-right: 0.5rem;
}

.avatar img {
    width: 100%;
}

#btn-top {
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    color: rgb(154, 88, 181);
    transition: color 0.3s;
    cursor: pointer;
    /* stays over footer */
    z-index: 1;
}

#btn-up:hover {
    color: rgb(116, 67, 137);
}

.message {
    color: rgb(50, 50, 50);
    background-color: #a6edce;
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem;
}

blockquote {
    background-color: rgb(252, 252, 255);
    border: 1px solid rgb(210, 210, 210);
    border-left: 2px solid rgb(255, 164, 40);
    border-radius: 2px;
    padding-left: 1rem;
}

code {
    color: rgb(232, 32, 140);
}

@media screen and (max-width: 1040px) {
    body {
		/* don't show moved to the right panel, make it hidden */
		overflow-x: hidden;
	}

    .left-bar {
        width: 80%;
    }
    /* burger menu */
    .right-bar {
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        width: 50%;
        height: 92vh;
        top: 8vh;
        right: 0;
        background-color: rgb(43, 45, 50);
        /* move panel 100% its width to the right by default (hide it) */
		transform: translateX(100%);
    }

    /* items are not shown initially, the slide in one by one */
    .right-bar li {
        opacity: 0
    }

    /* make burger visible */
    .burger {
		display: block;
		cursor: pointer;
	}
}

/* slide in links when navbar appears */
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.nav-active {
    /* move panel to its original position */
    transform: translateX(0%);
}

/* turn burger into X */
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (max-width: 768px) {
    .content {
        width: 100%;
    }

    .right-bar {
        width: 70%;
    }

    .post-list {
        display: block;
    }

    .post-list-left, .post-list-right {
        width: 100%;
    }

    .profile {
        display: block;
    }

    .profile img {

    }

    .profile-bar {
        display: block;
    }

    .profile-follow {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 510px) {
    .right-bar {
        width: 100%;
    }
}