{% extends 'posts/base.html' %}

{% block content %}
  {# add enctype so images are saved #}
  <form method="post" enctype="multipart/form-data" class="form">{% csrf_token %}
    <h2>Edit {{ user.username }}'s Profile</h2>
    <div class="profile-change-del">
      <a href="{% url 'password_change' %}"><button type="button" class="btn-small btn-blue">Change password</button></a>
      <button type="button" class="btn-small btn-red open-modal">Delete account</button>
    </div>
    {{ user_form.as_p }}
    {{ profile_form.as_p }}
    <input type="submit" value="Save" class="btn btn-blue">
    {# type="button" prevents button from submitting the form #}
    <a href="{% url 'profile' user.pk %}"><button type="button" class="btn btn-gray">Cancel</button></a>
  </form>
{% endblock %}