{% extends 'posts/base.html' %}

{% block content %}
  <div class="profile">
    <div>
      <img src="{{ user.profile.image.url }}" alt="user profile picture">
      <a href="{% url 'profile_edit' %}"><button>Edit Profile</button></a>
    </div>
    <div>
      <h2>{{ user.username }}'s Profile</h2>
      <p><strong>First name:</strong> {{ user.first_name }}</p>
      <p><strong>Last name:</strong> {{ user.last_name }}</p>
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Bio:</strong> {{ user.profile.bio }}</p>
    </div>
  </div>
{% endblock %}