<div class="comments-info">
  <div class="comments-info-left">
    {# total amount of comments #}
    <p>Comments: {{ post.comment_set.all.count }}</p>

    {# like button #}
    {# data-api-like-url contains value returned by api_like_url method defined in Post model which is grabbed by js script #}
    <button
        class="btn-like"
        data-api-like-url="{{ post.get_api_like_url }}"
    >
      {% if user in post.likes.all %}
        {{ post.likes.count }} Unlike
      {% else %}
        {{ post.likes.count }} Like
      {% endif %}
    </button>

    {# save and unsave links #}
    {# data-api-save-url contains value returned by api_save_url method defined in Post model which is grabbed by js script #}
    <a href="" class="save gray-link" data-api-save-url="{{ post.get_api_save_url }}">
      {% if user in post.saved_by.all %}
        Unsave
      {% else %}
        Save
      {% endif %}
    </a>
  </div>
  <div class="comments-info-right">
    {% if user.is_authenticated %}
      <p>Logged in as <a href="{% url 'profile' user.pk %}" class="gray-link">{{ user.username }}</a></p>
    {% endif %}
  </div>
</div>

<div class="comments">
  {# comment form #}
  {% if user.is_authenticated %}
    <form method="post" action="." class="comment-form">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Post" class="btn-small btn-blue">
    </form>
  {% else %}
    <a href="{% url 'login' %}?next={{ request.path }}"><p>Log in to comment</p></a>
  {% endif %}

  <div class="comment-block">
    {% if post.comment_set.all %}
      {% for comment in post.comment_set.all %}
        {# display only comments which are not replies #}
        {% if not comment.parent %}
          <div class="comment">
            <div class="avatar">
              <img src="{{ comment.user.profile.image.url }}" class="profile-pic-thumbnail">
            </div>
            <div class="comment-rest">
              {# hide this div when editing comment #}
              <div class="edit-hide">
                <div class="comment-above">
                  Posted by <a href="{% url 'profile' comment.user.pk %}" class="gray-link">{{ comment.user }}</a>
                  {{ comment.published|timesince }} ago{% if comment.published != comment.updated %} (edited){% endif %}
                </div>
                <p>{{ comment.text }}</p>
                <div class="comment-below">
                  {% if comment.user == user %}
                    <a href="#" class="comment-edit">edit</a>
                    <a href="#" class="comment-delete">delete</a>
                    <div class="comment-delete-confirmation">
                      <span>Are you sure? </span>
                      <form method="post" action="." class="comment-delete-form">
                        {% csrf_token %}
                        {# send id of comment to delete to post_detail view #}
                        <input type="hidden" name="comment_id" value="{{ comment.id }}">
                        {# send type of action to post_detail view, value doesn't matter until it's true #}
                        <input type="hidden" name="delete" value="True">
                        <span><a href="#" class="yes">Yes</a></span>
                      </form>
                      <span> / </span><a href="#" class="no">No</a>
                    </div>
                  {% endif %}
                  {% if user.is_authenticated %}
                    <button class="btn-like reply-btn">Reply</button>
                  {% endif %}
                </div>

                {# reply form #}
                <form method="post" action="." class="reply-form">
                  {% csrf_token %}
                  <input type="hidden" name="parent_id" value="{{ comment.id }}">
                  {{ form }}
                  <div class="edit-buttons">
                    <input type="submit" value="Post" class="comment-edit-save btn-small btn-blue">
                    <button type="button" class="comment-cancel btn-small btn-gray">Cancel</button>
                  </div>
                </form>

              </div>
              {# show comment edit form on click #}
              <form method="post" action="." class="comment-edit-form">
                {% csrf_token %}
                {# send id of comment to edit to post_detail view #}
                <input type="hidden" name="comment_id" value="{{ comment.id }}">
                {# send type of action to post_detail view, value doesn't matter until it's true #}
                <input type="hidden" name="edit" value="True">
                {{ form }}
                <div class="edit-buttons">
                  <input type="submit" value="Save" class="comment-edit-save btn-small btn-blue">
                  <button type="button" class="comment-cancel btn-small btn-gray">Cancel</button>
                </div>
              </form>
              {# replies to comments #}
              <div class="replies">
                {% for child in comment.children.all %}
                  <div class="comment comment-reply">
                    <div class="avatar">
                      <img src="{{ child.user.profile.image.url }}" class="profile-pic-thumbnail">
                    </div>
                    <div class="comment-rest">
                      <div class="edit-hide">
                        <div class="comment-above">
                          Posted by <a href="{% url 'profile' child.user.pk %}" class="gray-link">{{ child.user }}</a>
                          {{ child.published|timesince }} ago{% if child.published != child.updated %} (edited){% endif %}
                        </div>
                        <p>{{ child.text }}</p>
                        <div class="comment-below">
                          {% if child.user == user %}
                            <a href="#" class="comment-edit">edit</a>
                            <a href="#" class="comment-delete">delete</a>
                            <div class="comment-delete-confirmation">
                              <span>Are you sure? </span>
                              <form method="post" action="." class="comment-delete-form">
                                {% csrf_token %}
                                {# send id of reply to delete to post_detail view #}
                                <input type="hidden" name="comment_id" value="{{ child.id }}">
                                {# send type of action to post_detail view, value doesn't matter until it's true #}
                                <input type="hidden" name="delete" value="True">
                                <span><a href="#" class="yes">Yes</a></span>
                              </form>
                              <span> / </span><a href="#" class="no">No</a>
                            </div>
                          {% endif %}
                        </div>
                      </div>
                      {# show comment edit form on click #}
                      <form method="post" action="." class="comment-edit-form">
                        {% csrf_token %}
                        {# send id of reply to edit to post_detail view #}
                        <input type="hidden" name="comment_id" value="{{ child.id }}">
                        {# send type of action to post_detail view, value doesn't matter until it's true #}
                        <input type="hidden" name="edit" value="True">
                        {{ form }}
                        <div class="edit-buttons">
                          <input type="submit" value="Save" class="comment-edit-save btn-small btn-blue">
                          <button type="button" class="comment-cancel btn-small btn-gray">Cancel</button>
                        </div>
                      </form>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    {% else %}
      <p class="no-comments">No comments yet</p>
    {% endif %}
  </div>
</div>