{% extends 'posts/base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
  {% for post in posts %}
    <div class="post-list">
      <a href="{% url 'post_detail' post.slug %}"><img src="{{ post.image.url }}"></a>
      <div class="post-list-block">
        <div class="post-list-main">
          <a href="{% url 'post_detail' post.slug %}"><h1>{{ post.title|truncatechars:70 }}</h1></a>
          <p>{{ post.text|truncatechars:140 }}</p>
        </div>
        <div class="post-list-info">
          Posted by {{ post.user }} {{ post.published|timesince }} ago
        </div>
      </div>
    </div>
  {% endfor %}
  {% if not posts and not no_results %}
    <h1 class="no-posts">No posts have been added yet</h1>
  {% elif no_results %}
    <h1 class="no-posts">No posts found using query "{{ request.GET.q }}"</h1>
  {% endif %}
{% endblock %}