{% extends 'posts/base.html' %}

{% block head_extra %}
  {# pagedown (rich text editor) stuff #}
  {{ form.media }}
{% endblock %}
{% block title %}Blog Post{% endblock %}

{% block content %}
  {# enctype="multipart/form-data" enables saving of images #}
  <form method="post" enctype="multipart/form-data" class="form">
    {% csrf_token %}
    <h2>Blog Post</h2>
    {{ form.as_p }}
    <input type="submit" value="Submit" class="btn btn-blue">
    {# type="button" prevents button from submitting the form #}
    <a href="{% url 'home' %}"><button type="button" class="btn btn-gray">Cancel</button></a>
  </form>
{% endblock %}